@media only screen and (max-width: 730px) {
    .radar_wrapper {
      padding: 2rem 0;
    }
  }

.radar_wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MapBox {
  height: 50vh;
  width: 75vw;
}

.mapboxgl-canvas {
  border-radius: 12px;
}

.mapboxgl-ctrl-attrib {
  border-bottom-right-radius: 12px;
}