@media (min-width: 730px) {
    .Footer_container {
        display: none;
    }
}

.Footer_container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navLinkFooter {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    transition: transform 0.2s;
}

.navLinkFooter:hover {
    transform: scale(1.1);
}

.Footer_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinkFooter.active {
    color: #f87318

}