@media (max-width: 730px) {
    .Header_container {
        display: none;
    }
}

.Header_container {
    background-color: rgba(0, 0, 0, 0.749);
    padding: 0.5rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

li {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navLinkHeader {
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
    padding: 1rem;
    transition: transform 0.2s;
}

.navLinkHeader:hover {
    transform: scale(1.1);
}

.navLinkHeader.active {
    color: #f87318
}